<div class="mj">
  {% include "@mj_theme/region/region--header.html.twig"%}

  {% if page.highlighted %}
    <div class="highlighted">
      <aside class="layout-container section clearfix" role="complementary">
        {{ page.highlighted }}
      </aside>
    </div>
  {% endif %}

  {% include "@mj_theme/layout/content.html.twig" %}

  {% include "@mj_theme/region/region--footer.html.twig" %}
</div>
