.mj-copy-text {
  display: block;
  position: relative;

  &__text {
    padding: 1rem;
    position: relative;
    z-index: 2;
  }

  &__contained {
    @include large {
      @include contained-width;
    }
  }
}
