body {
  background-color: black;
  font-family: 'Ubuntu', Georgia, "Times New Roman", Times, serif;
}

a, a.link {
  border-bottom: none;

  &:hover {
    border-bottom-style: none;
  }
}

.block-mj-blocks {
  .content {
    margin-top: 0;
  }
}
