.mj-header {
  background-color: rgb(239, 232, 214);

  &__wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  &__logo {
    padding-left: 2rem;
    grid-column: 1 / 2;
  }

  &__cart {
    text-align: right;
    padding-right: 2rem;
    padding-top: 2rem;
    grid-column: 2 / 3;

    .cart-block--contents {
      right: 0;
      margin-right: 2rem;
      text-align: center;
    }

    .cart-block--contents__items {
      overflow-y: initial;
    }
  }
}
